.reviewsWrap {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 4% 7% 4%;
  margin: 15% 0 5%;
  color: #000;
  z-index: 999;
  overflow-y: scroll;
  color: #174e35;
}

.reviewsWrap h4 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #174e35;
}

.reviewsWrap img {
  width: 100%;
  border-radius: 15px;
}
