.reviewsWrap {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 4% 7% 4%;
  margin: 15% 0 5%;
  color: #000;
  z-index: 999;
  overflow-y: scroll;
  color: #174e35;
}

.reviewsWrap img {
  width: 100%;
  border-radius: 15px;
}

.hr {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8%;
}

.hrLeft,
.hrRight {
  width: 20%;
  height: 1px;
  background-color: #17382a;
}
