.aboutWrap {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 4% 7% 4%;
  margin: 15% 0 5%;
  color: #000;
  z-index: 999;
  overflow-y: scroll;
  color: #174e35;
}

.aboutWrap img {
  width: 100%;
  border-radius: 15px;
}
