.wrapper {
  width: 100%;
  min-width: 320px;
  max-width: calc(375px + 10%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5%;
  margin: 0 auto;
}

.runa {
  padding-top: 0%;
  width: 250px;
  filter: drop-shadow(2px 4px 6px black);
}

.title {
  font-family: "Pattaya", sans-serif;
  font-weight: 400;
  text-align: center;
  margin: 0 0 5% 0;
  display: none;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: #ffffff17;
  border-radius: 15px;
  padding: 10% 0;
}

.linkWrap {
  width: 80%;
  height: 55px;
  display: flex;
  align-items: center;
  padding: 0 5%;
  font-size: 24px;
  text-decoration: none;
  color: #000000;

  background: linear-gradient(103deg, #ff7838, #ef901a);
  border-radius: 15px;
  color: #000000;
  box-shadow: 0px 3px 1px #3b14148a;
  transition: 0.3s;
}

.linkWrap:focus {
  transform: scale(1.1);
}

.linkWrap span {
  margin-left: 10px;
}

.actions {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}

.price {
  border: none;
}

.call,
.price {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #15a928;
  color: white;
  border-radius: 50%;
  transition: 0.3s;
}

.call:focus,
.price {
  transform: scale(1.1);
}

/* .call svg,
.price svg {
  width: 30px;
  height: 30px;
} */

.modalPrice {
  width: 0%;
  height: 50%;
  position: absolute;
  top: 100%;
  left: -100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 0px 75px #2a8139;
  transition: 0.5s cubic-bezier(0.34, 1.2, 0.64, 1);
}

.active {
  width: 90%;
  max-width: 375px;
  height: auto;
  top: 50%;
  left: 50%;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  color: #174e35;
  font-size: 25px;
  margin: 4%;
}

@media screen and (min-width: 375px) {
  .wrapper {
    min-width: 375px;
  }
}
