.wrapper {
  width: 100%;
  min-width: 320px;
  max-width: calc(375px + 10%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.bg1 {
  background: #ffffff17;
  border-radius: 0 30px 5px 30px;
}

.bg2 {
  background: #ffffff17;
  border-radius: 30px 5px 30px 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  gap: 15px;
}

.header h1 {
  font-family: "Gabriola";
  font-size: 52px;
  line-height: 1;
  margin: 0;
}

h4 {
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

a {
  transition: 0.3s;
}

a:hover {
  cursor: pointer;
  transform: scaleX(1.05);
}

.hr {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8%;
  margin: 10% 0;
}

.hr .hrLeft,
.hr .hrRight {
  width: 20%;
  height: 1px;
  background-color: #ffffff47;
}

.actions {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 10% 7%;
}

.call,
.price {
  border: none;
}

.call,
.price,
.info {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: linear-gradient(103deg, #17382a, #1d573e);
  color: white;
  border-radius: 15px;
  padding: 0 4%;
  transition: 0.3s;
  text-decoration: none;
  font-size: 0.8rem;
  box-shadow: 2px 2px 10px #0000003d;
}

.price,
.info {
  min-width: 35%;
}

.modalPrice {
  width: 90%;
  height: 95%;
  position: fixed;
  top: 3%;
  left: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 0px 75px #2a8139;
  /* transition: 0.6s cubic-bezier(0.34, 1.2, 0.64, 1); */
  overflow: hidden;
}

.active {
  display: flex;
  max-width: 375px;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  color: #174e35;
  font-size: 25px;
  margin: 4%;
}

.flower {
  position: absolute;
  right: -16%;
  bottom: -8%;
  width: 300px;
  height: 300px;
  color: #467e5c1a;
  transform: rotate(330deg);
}

@media screen and (min-width: 375px) {
  .wrapper {
    min-width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .modalPrice {
    width: 70%;
    left: 15%;
  }
}

@media screen and (min-width: 1440px) {
  .modalPrice {
    width: 50%;
    left: 25%;
  }
}
